<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
              $(document).ready(function() {
                var activeSystemClass = $('.list-group-item.active');

                //something is entered in search form
                $('#system-search').keyup( function() {
                   var that = this;
                    // affect all table rows on in systems table
                    var tableBody = $('.table-list-search tbody');
                    var tableRowsClass = $('.table-list-search tbody tr');
                    $('.search-sf').remove();
                    tableRowsClass.each( function(i, val) {

                        //Lower text for case insensitive
                        var rowText = $(val).text().toLowerCase();
                        var inputText = $(that).val().toLowerCase();
                        if(inputText != '')
                        {
                            $('.search-query-sf').remove();
                            tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                                + $(that).val()
                                + '"</strong></td></tr>');
                        }
                        else
                        {
                            $('.search-query-sf').remove();
                        }

                        if( rowText.indexOf( inputText ) == -1 )
                        {
                            //hide rows
                            tableRowsClass.eq(i).hide();

                        }
                        else
                        {
                            $('.search-sf').remove();
                            tableRowsClass.eq(i).show();
                        }
                    });
                    //all tr elements are hidden
                    if(tableRowsClass.children(':visible').length == 0)
                    {
                        tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
                    }
                });
            });

            $(document).ready(function() {
              var activeSystemClass = $('.list-group-item.active');

              //something is entered in search form
              $('#system-search1').keyup( function() {
                 var that = this;
                  // affect all table rows on in systems table
                  var tableBody = $('.table-list-search1 tbody');
                  var tableRowsClass = $('.table-list-search1 tbody tr');
                  $('.search-sf').remove();
                  tableRowsClass.each( function(i, val) {

                      //Lower text for case insensitive
                      var rowText = $(val).text().toLowerCase();
                      var inputText = $(that).val().toLowerCase();
                      if(inputText != '')
                      {
                          $('.search-query-sf').remove();
                          tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                              + $(that).val()
                              + '"</strong></td></tr>');
                      }
                      else
                      {
                          $('.search-query-sf').remove();
                      }

                      if( rowText.indexOf( inputText ) == -1 )
                      {
                          //hide rows
                          tableRowsClass.eq(i).hide();

                      }
                      else
                      {
                          $('.search-sf').remove();
                          tableRowsClass.eq(i).show();
                      }
                  });
                  //all tr elements are hidden
                  if(tableRowsClass.children(':visible').length == 0)
                  {
                      tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
                  }
              });
          });

          $(document).ready(function() {
            var activeSystemClass = $('.list-group-item.active');

            //something is entered in search form
            $('#system-search2').keyup( function() {
               var that = this;
                // affect all table rows on in systems table
                var tableBody = $('.table-list-search2 tbody');
                var tableRowsClass = $('.table-list-search2 tbody tr');
                $('.search-sf').remove();
                tableRowsClass.each( function(i, val) {

                    //Lower text for case insensitive
                    var rowText = $(val).text().toLowerCase();
                    var inputText = $(that).val().toLowerCase();
                    if(inputText != '')
                    {
                        $('.search-query-sf').remove();
                        tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                            + $(that).val()
                            + '"</strong></td></tr>');
                    }
                    else
                    {
                        $('.search-query-sf').remove();
                    }

                    if( rowText.indexOf( inputText ) == -1 )
                    {
                        //hide rows
                        tableRowsClass.eq(i).hide();

                    }
                    else
                    {
                        $('.search-sf').remove();
                        tableRowsClass.eq(i).show();
                    }
                });
                //all tr elements are hidden
                if(tableRowsClass.children(':visible').length == 0)
                {
                    tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
                }
            });
        });

        $(document).ready(function() {
          var activeSystemClass = $('.list-group-item.active');

          //something is entered in search form
          $('#system-search3').keyup( function() {
             var that = this;
              // affect all table rows on in systems table
              var tableBody = $('.table-list-search3 tbody');
              var tableRowsClass = $('.table-list-search3 tbody tr');
              $('.search-sf').remove();
              tableRowsClass.each( function(i, val) {

                  //Lower text for case insensitive
                  var rowText = $(val).text().toLowerCase();
                  var inputText = $(that).val().toLowerCase();
                  if(inputText != '')
                  {
                      $('.search-query-sf').remove();
                      tableBody.prepend('<tr class="search-query-sf"><td colspan="6"><strong>Searching for: "'
                          + $(that).val()
                          + '"</strong></td></tr>');
                  }
                  else
                  {
                      $('.search-query-sf').remove();
                  }

                  if( rowText.indexOf( inputText ) == -1 )
                  {
                      //hide rows
                      tableRowsClass.eq(i).hide();

                  }
                  else
                  {
                      $('.search-sf').remove();
                      tableRowsClass.eq(i).show();
                  }
              });
              //all tr elements are hidden
              if(tableRowsClass.children(':visible').length == 0)
              {
                  tableBody.append('<tr class="search-sf"><td class="text-muted" colspan="6">No entries found.</td></tr>');
              }
          });
        });
  </script>

  <style>
      .logoutLblPos{
           position:fixed;
           right:10px;
           top:5px;
      }
      .mainLblPos{
           position:fixed;
           right:10px;
           top:30px;
      }

      .back {
            background-color: white;
            border: 2px solid #e3e3e3;
            border-radius: 3px;
            text-decoration: none;
        }

        .x {
            color: #a9a9a9;
            padding: 15px 32px;
            text-align: center;
            display: inline-block;
            font-size: 25px;
            margin-bottom: 3px;
        }

        hover:hover {
              outline:none;
              text-decoration:none;
            color:inherit;
        }

        .fixed_size {
            width: 250px;
            height: 20px;
        }
  </style>

    <style>
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
</style>
</head>
<body>

<a class="logoutLblPos hover" href="/accounts/logout">Log out</a>
<a class="mainLblPos hover" href="/">Main</a>

<div class="container">
  <h1>{{ first_name }} {{last_name}} dashboard</h1>
  <p>{{ email }}<p>
</div>

<hr />

<div class="container">
	<div class="row">
        <div class="col-md-4">
            <h4> <b> Positive qualities</b> </h4>
        </div>
        <div class="col-md-2">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search2" name="q" placeholder="Search for" required>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <h4> <b> Negative qualities </b> </h4>
        </div>
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-searc3" name="q" placeholder="Search for" required>
                </div>
            </form>
        </div>
        <br /><br />
    <div class="row">
		<div class="col-md-6" style="overflow-y:scroll; height: 200pt;">
    	 <table class="table table-list-search2 table-responsive">
                    <thead>
                        <tr>
                            <th>Quality</th>
                            <th>Votes number</th>
                            <th>Average grade</th>
                        </tr>
                    </thead>
                    <tbody class="scrollit">
                        {% for merit, item in positive_qualities.items %}
                            <tr>
                                <td>{{ merit }}</td>
                                <td>{{ item.0 }}</td>
                                <td>{{ item.1 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
		</div>
        <div class="col-md-6" style="overflow-y:scroll; height: 200pt;">

        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Teachers</button>
          <div id="myDropdown" class="dropdown-content">
            {% for teacher_name in teachers_names %}
                <a href="">{{ teacher_name }}</a>
            {% endfor %}
          </div>
        </div>

            <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>

    	 <!--<table class="table table-list-search3 table-responsive">-->
                    <!--<thead>-->
                        <!--<tr>-->
                            <!--<th>Quality</th>-->
                            <!--<th>Votes number</th>-->
                        <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                        <!--{% for merit, counter in negative_qualities.items %}-->
                            <!--<tr>-->
                                <!--<td>{{ merit }}</td>-->
                                <!--<td>{{ 0 }}</td>-->
                            <!--</tr>-->
                        <!--{% endfor %}-->
                    <!--</tbody>-->
                <!--</table>-->
		</div>
    </div>
	</div>
</div>
<br />

<hr />

<div class="container">
	<div class="row">
        <div class="col-md-4">
            <h4> <b> Meetings enrolled by Student</b> </h4>
        </div>
        <div class="col-md-2">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search1" name="q" placeholder="Search for" required>
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <h4> <b> Enrolled courses table: </b> </h4>
        </div>
        <div class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input class="form-control" id="system-search" name="q" placeholder="Search for" required>
                </div>
            </form>
        </div>
        <br /><br />
    <div class="row">
		<div class="col-md-6" style="overflow-y:scroll; height: 200pt;">
    	 <table class="table table-list-search1 table-responsive">
                    <thead>
                        <tr>
                            <th>Course name</th>
                            <th>Meeting type</th>
                            <th>Date</th>
                            <th>Place</th>
                        </tr>
                    </thead>
                    <tbody class="scrollit">
                        {% for meeting in meeting_enrolled %}
                            <tr>
                                <td><a href="{% url 'app:meeting_results' meeting.id%}">{{ meeting.course }}</a></td>
                                <td>{{ meeting.meeting_type }}</td>
                                <td>{{ meeting.date }}</td>
                                <td>{{ meeting.place }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
		</div>
        <div class="col-md-6" style="overflow-y:scroll; height: 200pt;">
    	 <table class="table table-list-search table-responsive">
                    <thead>
                        <tr>
                            <th>Course name</th>
                            <th>Start date</th>
                            <th>End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses_enrolled %}
                            <tr>
                                <td>{{ course.course_name }}</td>
                                <td>{{ course.start_date }}</td>
                                <td>{{ course.end_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
		</div>
    </div>
	</div>
</div>
<br />

<hr />
</body>
</html>





<!--<head>-->

<!--</head>-->
<!--<body>-->

<!--<h2>Aligned Dropdown Content</h2>-->
<!--<p>Use <strong>float: right</strong> on the dropdown class to float the dropdown menu to the right, and <strong>right:0</strong> on the dropdown-content if you want the dropdown content to go from right to left.</p>-->

<!--<div class="dropdown">-->
<!--<button onclick="myFunction()" class="dropbtn">Dropdown</button>-->
  <!--<div id="myDropdown" class="dropdown-content">-->
    <!--<a href="#home">Home</a>-->
    <!--<a href="#about">About</a>-->
    <!--<a href="#contact">Contact</a>-->
  <!--</div>-->
<!--</div>-->

<!--<script>-->
<!--/* When the user clicks on the button,-->
<!--toggle between hiding and showing the dropdown content */-->
<!--function myFunction() {-->
    <!--document.getElementById("myDropdown").classList.toggle("show");-->
<!--}-->

<!--// Close the dropdown if the user clicks outside of it-->
<!--window.onclick = function(event) {-->
  <!--if (!event.target.matches('.dropbtn')) {-->

    <!--var dropdowns = document.getElementsByClassName("dropdown-content");-->
    <!--var i;-->
    <!--for (i = 0; i < dropdowns.length; i++) {-->
      <!--var openDropdown = dropdowns[i];-->
      <!--if (openDropdown.classList.contains('show')) {-->
        <!--openDropdown.classList.remove('show');-->
      <!--}-->
    <!--}-->
  <!--}-->
<!--}-->
<!--</script>-->

<!--</body>-->
<!--</html>-->