<html>
<head>
    <title>Vote results</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .voter {
            height: 100px;
            width: 100px;
            text-align:center;
            padding-top: 40px;
            border-style:solid;
            border: 10px;
            border-color: black;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>{{ meeting.meeting_type }} in {{ meeting.course }} in {{ meeting.place }} on {{ meeting.date }}</h1>
        <h3> ____ graded by _____ </h3>
    </div>

    <div class="container">
        <div class="raw">
            <div class="col-md-1 voter" style="background-color:#F50003;" href="yandex.ru">
                1
            </div>
            <div class="col-md-1 voter" style="background-color:#EF1F21">
                2
            </div>
            <div class="col-md-1 voter" style="background-color:#E84A4C">
                3
            </div>
            <div class="col-md-1 voter" style="background-color:#E79293">
                4
            </div>
            <div class="col-md-1 voter" style="background-color:#FFFFFF">
                5
            </div>
            <div class="col-md-1 voter" style="background-color:#C6DFC3">
                6
            </div>
            <div class="col-md-1 voter" style="background-color:#A6D4A0">
                7
            </div>
            <div class="col-md-1 voter" style="background-color:#81D076">
                8
            </div>
            <div class="col-md-1 voter" style="background-color:#51CF3F">
                9
            </div>
            <div class="col-md-1 voter" style="background-color:#28C412">
                10
            </div>
        </div>
    </div>

</body>
